---
// Config
import { SITE } from '../config';

// Layout
import Layout from '../layouts/Layout.astro';

// Component
import Hero from '../components/Hero.astro';
---

<Layout title={SITE.title} description={SITE.description}>
  <main class="l-site__main">
    <Hero />
  </main>
</Layout>
