---
// Config
import { SITE } from '../config';

// Layout
import Layout from '../layouts/Layout.astro';
---

<Layout title={SITE.title} description={SITE.description}>
  <h1>Page Title</h1>
</Layout>
