---
// Image
import { Picture } from 'astro:assets';
import imgAbout from '../assets/img/about@2x.jpg';
---

<div class="l-container">
  <div class="about">
    <figure class="about__imgWrapper" data-animated="fadeIn" style={`--delay:0.3s`}>
      <Picture src={imgAbout} formats={['avif', 'webp']} alt="" />
    </figure>
    <div class="about__body">
      <section>
        <h3 class="about__title" data-animated="blurIn" style={`--delay:0.3s`}>経歴</h3>
        <p class="about__text" data-animated="blurIn" style={`--delay:0.4s`}>
          2019年1月からWeb制作の勉強を開始しました。自分で作って形を残せることに楽しさを感じたのがきっかけです。Progateや書籍を使って学び、少しずつWebサイトを作れるようになりました。<br
          />同年12月には、BtoB向けに勤怠管理システムを開発・提供する企業に入社し、自社Webサイトの制作、システムのデザイン、フロント画面のマークアップを担当していました。
        </p>
      </section>
      <section>
        <h3 class="about__title" data-animated="blurIn" style={`--delay:0.3s`}>今後やりたいこと</h3>
        <p class="about__text" data-animated="blurIn" style={`--delay:0.4s`}>
          フロントエンドエンジニアとしてキャリアを築きたいと考えています。AIの登場によりWeb制作の世界は急速に変化すると予想されますが、ユーザーとの接点であるインターフェイスには関わり続けたいです。自分のアイディアや書いたコードがユーザーに影響を与えることに楽しさとやりがいを感じるからです。そのために、UI/UXや現在のトレンドであるモダンな技術（Next.js、Tailwind、JavaScriptの基礎）について学んでいます。
        </p>
      </section>
      <section>
        <h3 class="about__title" data-animated="blurIn" style={`--delay:0.3s`}>好きなこと</h3>
        <p class="about__text" data-animated="blurIn" style={`--delay:0.4s`}>
          コードを書くことでデザインを再現するプロセスが好きで、デザインとコードに規律性があると、なおさら喜びを感じます。また、フロントエンド開発環境を整えることも好きで、効率的で美しいコードを書くための環境を整備する感覚があり楽しさを感じます。
        </p>
      </section>
    </div>
  </div>
</div>
<!-- /.l-container -->

<style lang="scss">
  @use '../assets/scss/global' as *;

  .about {
    --columns: 1;

    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    gap: rem(40) 0;
    margin-top: fluid(40, 88, var(--sp-comp-width), var(--pc-comp-width));

    @include mq(md) {
      --columns: 2;

      gap: 0 calc(80 / var(--content-width) * 100%);
    }
  }

  .about__imgWrapper {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      max-height: 350px;
      object-position: 50% 8%;

      @include mq(md) {
        position: sticky;
        top: 20px;
        max-height: none;
        object-position: 50% 50%;
      }
    }
  }

  .about__body {
    display: grid;
    order: -1;
    gap: rem(40) 0;
  }

  .about__title {
    font-size: rem(22);
    font-weight: 500;
    line-height: 1.5;
  }

  .about__text {
    margin-top: rem(12);
    font-size: rem(14);
    line-height: 2;
  }
</style>
