---
// Image
import { Picture } from 'astro:assets';
import imgAbout from '../assets/img/about@2x.jpg';

const delay = 0.2;
---

<div class="l-container">
  <div class="about">
    <figure class="about__imgWrapper" data-animated="fadeIn" style={`--delay:0.3s`}>
      <Picture src={imgAbout} formats={['avif', 'webp']} alt="" />
    </figure>
    <div class="about__body">
      <section>
        <h3 class="about__title" data-animated="blurIn" style={`--delay:0.3s`}>経歴</h3>
        <p class="about__text" data-animated="blurIn" style={`--delay:0.4s`}>
          2019年1月から、Web制作の勉強をスタート。文系出身であったため、何か自分で制作物を残せることに魅力を感じたことが始めたきっかけでした。<br
          />その後、同年12月にBtoB向けに勤怠管理システムを開発・提供する会社に入社。主にWebサイト制作やシステムのデザイン・システムフロント画面のマークアップを担当していました。<br
          />コードを書くことでデザインを再現させていくプロセスが好きで、デザインとコードに規律性があるとなおさら喜びを感じるタイプです。
        </p>
      </section>
      <section class="u-mt-5 lg:u-mt-6">
        <h3 class="about__title" data-animated="blurIn" style={`--delay:0.3s`}>今後やりたいこと</h3>
        <p class="about__text" data-animated="blurIn" style={`--delay:0.4s`}>
          最近では、Astroなどのフロントエンドフレームワークを習得するべく、JavaScriptの基礎から学び直しています。また、React・Next.jsなどのフロントエンドフレームワークを使ってアプリを作ってみたいと考えています。何か身の回りで使えるアプリをぼんやりと考えています。
        </p>
      </section>
    </div>
  </div>
</div>
<!-- /.l-container -->

<style lang="scss">
  @use '../assets/scss/global' as *;

  .about {
    --columns: 1;

    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    grid-template-rows: auto;
    gap: rem(40) 0;
    margin-top: fluid(16, 48, var(--sp-comp-width), var(--pc-comp-width));

    @include mq(md) {
      --columns: 12;

      gap: 0 1rem;
    }
  }

  .about__imgWrapper {
    height: calc(180 / 375 * 100vw);
    max-height: 320px;
    margin-inline: calc(var(--content-gutter-x) * -1);
    overflow: hidden;

    @include mq(md) {
      grid-column: 8 / span 5;
      height: 440px;
      max-height: none;
      margin: auto 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .about__body {
    @include mq(md) {
      grid-column: 1 / span 7;
      order: -1;
      padding-right: rem(12);
    }

    @include mq(lg) {
      padding-right: calc(56 / 554 * 100%);
    }
  }

  .about__title {
    font-size: rem(20);
    font-weight: 500;
    line-height: 1.25;

    @include mq(lg) {
      font-size: rem(22);
    }
  }

  .about__text {
    margin-top: rem(12);
    font-size: rem(14);
    line-height: 2;
  }
</style>
