---
import { LINKS } from '../config';
---

<footer class="footer">
  <div class="_inner">
    <p class="_copyRight">
      <small lang="en">©️Sacck / <a href={LINKS.github} target="_blank" rel="noopener noreferrer">Github</a></small>
    </p>
  </div>
</footer>
