---
import { Image } from 'astro:assets';
import imgLogo from '../assets/img/logo.svg';
---

<header class="l-site__header header">
  <div class="header__inner">
    <p class="header__logo">
      <a href="/">
        <Image src={imgLogo} alt="Sacck" width="76" height="17" loading="eager" />
      </a>
    </p>
  </div>
</header>

<style lang="scss">
  @use '../assets/scss/global' as *;

  .header {
    display: none;
    visibility: hidden;
    position: sticky;
    z-index: 10;
    top: 0;
    transition-property: visibility, opacity;
    transition-duration: 0.3s;
    transition-timing-function: var(--easing);
    opacity: 0;
  }

  html.is-heroOver .header {
    visibility: visible;
    opacity: 1;
  }

  .header__inner {
    display: flex;
    align-items: center;
    height: rem(var(--header-height));
    padding-inline: var(--content-gutter-x);

    @include mq(md) {
      padding-inline: 2.5vw;
    }
  }

  .header__logo {
    padding-block: 1rem;

    a {
      display: block;
      height: 100%;
      line-height: 1;
    }
  }
</style>
