---
import { Image } from 'astro:assets';
import imgLogo from '../assets/img/logo.svg';
---

<header class="header">
  <div class="header__inner">
    <h1 class="header__title">
      <a href="/">
        <Image src={imgLogo} alt="Sacck" width="100" height="23" loading='eager' />
      </a>
    </h1>
  </div>
</header>
