---
import { LINKS } from '../config';
---

<div class="hero">
  <div class="hero__body">
    <h1 class="hero__title" lang="en">Yusaku Hori</h1>
    <div class="u-pl-1">
      <p class="hero__text" lang="en">Born in 1993, lives in Hiroshima. <br />I'm learning to become a web coder.</p>
      <ul class="hero__buttonWrapper">
        <li>
          <a class="hero__button" href={LINKS.github} target="_blank" rel="noopener noreferrer">
            <svg aria-hidden="true">
              <use href="#github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="hero__button" href="mailto:sakucode1993@gmail.com">
            <span class="u-visuallyHidden">メールを送る</span>
            <svg aria-hidden="true">
              <use href="#mail"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="hero__bottom" aria-hidden="true">
    <div class="hero__scroll">
      <span lang="en">Scroll</span>
    </div>
  </div>
</div>

<style lang="scss">
  @use '../assets/scss/global' as *;

  .hero {
    display: flex;
    position: relative;
    align-items: center;
    max-width: 1200px;
    height: 100vh;
    margin-top: calc(rem(var(--header-height)) * -1);
    margin-inline: auto;
    padding-inline: var(--content-gutter-x);
  }

  .hero__title {
    font-size: fluid(80, 128, var(--sp-comp-width), var(--pc-comp-width));
    letter-spacing: 0.03em;
    line-height: 0.95;
  }

  .hero__text {
    margin-top: rem(16);
    line-height: 1.25;

    @include mq(md) {
      font-size: rem(24);
    }
  }

  .hero__buttonWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: rem(40);
  }

  .hero__button {
    --size: 2.5rem;

    display: block;
    width: var(--size);
    height: var(--size);
    padding: 4px;
    border-radius: 50%;

    @include hover {
      outline: 1px dashed currentcolor;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .hero__bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: auto;
    transform: translateX(-50%);
  }

  .hero__scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(4);
    font-size: rem(12);

    @include mq(md) {
      font-size: rem(14);
    }

    &::after {
      content: '';
      display: block;
      width: 1px;
      height: rem(80);
      transform: scaleY(0);
      transform-origin: top;
      animation: scrollDown 2s ease-out infinite;
      background-color: currentcolor;
    }
  }

  @keyframes scrollDown {
    0% {
      transform: scaleY(0);
    }

    25% {
      transform: scaleY(1);
      transform-origin: top;
    }

    50% {
      transform: scaleY(1);
      transform-origin: bottom;
    }

    70% {
      transform: scaleY(0);
      transform-origin: bottom;
    }

    100% {
      transform-origin: top;
    }
  }
</style>
