---
import { Image } from 'astro:assets';
import imgLogo from '../assets/img/logo.svg';
---

<div class="loading" id="js-loading">
  <Image src={imgLogo} alt="Sacck" loading="eager" />
</div>

<style lang="scss" is:global>
  .loading {
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 15;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    &::before,
    &::after {
      content: '';
      position: absolute;
      inset: 0;
    }

    &::before {
      z-index: 2;
      background-color: var(--base-color);
    }

    &::after {
      z-index: 1;
      background-color: #faf8f4;
    }

    img {
      display: none;
      z-index: 3;
    }

    // Animation
    // -------------------------
    .is-loadingAnimated &::before,
    .is-loadingAnimated &::after {
      animation: bgSideOut 0.75s var(--easing) forwards;
    }

    .is-loadingAnimated &::after {
      animation-delay: 0.7s;
    }

    @keyframes bgSideOut {
      100% {
        transform: translateX(105%);
      }
    }

    .is-loadingAnimated & img {
      display: block;
      animation: logofadeOut 0.6s var(--easing) forwards;
      animation-delay: calc((var(--loading-delay)) * 1ms);
    }

    @keyframes logofadeOut {
      100% {
        transform: scale(0.75);
        opacity: 0;
      }
    }
  }
</style>

<script>
  window.addEventListener('load', () => {
    const hasVisited = localStorage.getItem('hasVisited');

    document.documentElement.classList.add('is-loadingAnimated');
    if (!hasVisited) {
      // 初回訪問時の処理
      localStorage.setItem('hasVisited', 'true');
      document.documentElement.classList.add('is-loadingAnimated');
    } else {
      document.getElementById('js-loading').style.display = 'none';
    }

    // アニメーション終了後、ローディング画面を非表示
    setTimeout(() => {
      document.getElementById('js-loading').style.display = 'none';
    }, 2000);

    // 1日経過したらローカルストレージをリセット
    setInterval(
      () => {
        localStorage.removeItem('hasVisited');
      },
      24 * 60 * 60 * 1000,
    );
  });
</script>
