---
import { Image } from 'astro:assets';
import imgLogo from '../assets/img/logo.svg';
---

<div class="loading" id="js-loading">
  <Image src={imgLogo} alt="Sacck" loading="eager" />
</div>

<style lang="scss" is:global>
  .loading {
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 15;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    &::before {
      content: '';
      position: absolute;
      background-color: #faf8f4;
      inset: 0;
    }

    img {
      display: none;
    }

    // Animation
    // -------------------------
    // アニメーション順序
    //  1.疑似要素の背景スライド
    //  2.1終了後、ロゴフェードアウト

    --slide-duration: 0.8s;

    &.is-animated::before {
      animation: bgsideout var(--slide-duration) var(--easing) forwards;
    }

    @keyframes bgsideout {
      100% {
        transform: translateX(105%);
      }
    }

    &.is-animated img {
      display: block;
      animation: logofadeout 0.8s var(--easing) forwards;
      animation-delay: var(--slide-duration);
    }

    @keyframes logofadeout {
      100% {
        transform: scale(0.75);
        opacity: 0;
      }
    }
  }
</style>
